<app-header-component></app-header-component>
<h1>app component</h1>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi harum culpa dicta, molestiae nam est, omnis totam officiis voluptas nisi ipsum nesciunt nostrum ex deleniti. Molestias expedita harum quaerat commodi?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque est nesciunt officiis obcaecati quod dignissimos nobis. Placeat fugiat aut sint. Accusantium non amet porro dignissimos tenetur reprehenderit minus consectetur pariatur!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, quia blanditiis deserunt ut praesentium magni expedita eveniet voluptatem accusamus, dolore nostrum vero cum labore consectetur excepturi quisquam obcaecati molestiae! Itaque!
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum, ratione fugit quo molestiae quaerat tempora? Provident, labore? Doloremque maiores mollitia id. Cumque omnis aspernatur esse facilis neque tenetur accusamus quam.
<app-footer-component></app-footer-component>