<!-- Footer -->
<footer class="bg-body-tertiary text-center">
     
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <p  >Product</p>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a class="text-body" href="#!">Overview</a>
              </li>
              <li>
                <a class="text-body" href="#!">Features</a>
              </li>
              <li>
                <a class="text-body" href="#!">Solutions</a>
              </li>
              <li>
                <a class="text-body" href="#!">Tutorials</a>
              </li>
              <li>
                <a class="text-body" href="#!">Pircing</a>
              </li>
              <li>
                <a class="text-body" href="#!">Releases</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <p>Company</p>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a class="text-body" href="#!">About us</a>
              </li>
              <li>
                <a class="text-body" href="#!">Careers</a>
              </li>
              <li>
                <a class="text-body" href="#!">Press</a>
              </li>
              <li>
                <a class="text-body" href="#!">News</a>
              </li>
              <li>
                <a class="text-body" href="#!">Meda Kit</a>
              </li>
              <li>
                <a class="text-body" href="#!">Contact</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <p>Resources</p>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a class="text-body" href="#!">Blog</a>
              </li>
              <li>
                <a class="text-body" href="#!">Newsletter</a>
              </li>
              <li>
                <a class="text-body" href="#!">Events</a>
              </li>
              <li>
                <a class="text-body" href="#!">Help centre</a>
              </li>
              <li>
                <a class="text-body" href="#!">Tutorials</a>
              </li>
              <li>
                <a class="text-body" href="#!">Support</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <p>Social</p>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a class="text-body" href="#!">Twitter</a>
              </li>
              <li>
                <a class="text-body" href="#!">Linkedin</a>
              </li>
              <li>
                <a class="text-body" href="#!">Facebook</a>
              </li>
              <li>
                <a class="text-body" href="#!">Github</a>
              </li>
              <li>
                <a class="text-body" href="#!">Angellist</a>
              </li>
              <li>
                <a class="text-body" href="#!">Dribble</a>
              </li>
            </ul>
          </div>
          
        </div>
      </section>
  
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2020 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
  </footer>
  <!-- Footer -->